<div class="modal fade" id="addStrengthModal" tabindex="-1" role="dialog" aria-labelledby="addExerciseLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExerciseLabel">New strength exercise</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addStrengthForm" class="needs-validation">
          <input type="hidden" id="type" value="cardio">
          <div class="form-group">
            <label for="stengthExerciseName" class="col-form-label">Exercise name:</label>
            <input type="text" class="form-control" id="stengthExerciseName" maxlength="25" required>
          </div>
          <div class="form-group">
            <label for="weight" class="col-form-label">Weight in kilograms:</label>
            <input type="number" class="form-control" id="weight" required>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="sets" class="col-form-label">Number of sets:</label>
              <input type="number" class="form-control" id="sets" required>
            </div>
            <div class="col form-group">
              <label for="reps" class="col-form-label">Reps per set:</label>
              <input type="number" class="form-control" id="reps" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="addStrengthForm" class="btn btn-success">Add Exercise</button>
        <button type="submit" form="addStrengthForm" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#addExerciseModal">Back</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>