  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-sm">
        <h3 class="mb-3">View Workouts</h3>
        <div class="row">
          <div class="col-sm">
            <div class="card mb-3" style="width: 100%">
              <div class="card-body">
                <h5 id="workoutTitle" class="card-title">View a workout</h5>
                <h6 id="exerciseCount" class="card-subtitle mb-2 text-muted"></h6>
                <p id="workoutDate" class="card-text"></p>
              </div>  
              <ul id="workoutExercises" class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="alert alert-secondary m-0 w-100" role="alert">
                    No workout selected
                  </span>
                </li>
              </ul>
              <div class="card-body">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addExerciseModal">Add exercise</button>
                <button class="btn btn-danger">Delete workout</button>
              </div>
            </div>
          </div>
          {{> addExercise}}
          {{> addCardio}}
          {{> addStrength}}
          <div class="col-sm">
            <div class="card mb-3" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Recent workouts</h5>
                <h6 id="recentCount" class="card-subtitle mb-2 text-muted"></h6>
                <p id="lastWorkoutDate" class="card-text"></p>
              </div>  
              <ul id="recentWorkouts" class="list-group list-group-flush">
              </ul>
              <div class="card-body">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addWorkoutModal">Add workout</button>
              </div>
            </div>
          </div>
          {{> addWorkout}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm" id="statistics">
        <h3>Workout Statistics: <span>Workout 2</span></h3>
      </div>
    </div>
  </div>